.applyPage3 {
  h2 {
    text-align: center;
  }
  & :global(.MuiInputAdornment-root) {
    display: none;
  }
  & :global(.Mui-focused) {
    outline-color: 1px solid #52b25b;
    border-color: 1px solid #52b25b;
  }
  & :global(.MuiOutlinedInput-root) {
    border-color: #52b25b;
  }

  & :global(label.Mui-focused),
  & :global(label),
  & :global(.MuiOutlinedInput-root fieldset) {
    color: #52b25b;
    border-color: #52b25b;
  }

  .error {
    color: #f00;
    font-size: 14px;
    margin-bottom: 40px;
  }

  &__inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 40px 10px;
    &__input {
      width: 100%;
    }

    p {
      color: #f00;
      font-size: 14px;
    }

    &__block {
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 16px;
      margin-bottom: 8px;
      border: 1px solid #6c757d;
      border-radius: 6px;

      &__focused {
        border-color: #52b25b;
      }

      span,
      input {
        font-size: 24px;
        line-height: 32px;
      }

      input {
        width: 65px;
        text-align: center;
        border: none;

        &:last-child {
          width: 80px;
        }
      }
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 8px;
    padding: 16px 0;
    margin-bottom: 20px;
    font-weight: 600;
    color: #fff;
    border-radius: 6px;
    fill: #fff;
    background: #52b25b;
    border: none;
    font-size: 16px;
  }
}
